clusters/taplab/cluster-config/not-deployed/api-security-guide/vault install scripts/vault.out
clusters/taplab/cluster-config/not-deployed/api-security-guide/vault install scripts/vault.out
clusters/taplab/cluster-config/not-deployed/api-security-guide/vault install scripts/vault.out
clusters/taplab/.DS_Store
clusters/taplab/cluster-config/not-deployed/api-security-guide/vault install scripts/vault.out
clusters/taplab/cluster-config/not-deployed/api-security-guide/vault install scripts/vault.out
clusters/taplab/cluster-config/not-deployed/api-security-guide/vault install scripts/vault.out
clusters/taplab/tanzu-sync/app/sensitive-values/.decrypted~tanzu-sync-values.sops.yaml
